USE [master]
GO
/****** Object:  Database [bus]    Script Date: 07/12/2019 13:40:33 ******/
CREATE DATABASE [bus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bus_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bus_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bus.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bus]
GO
/****** Object:  User [API]    Script Date: 07/12/2019 13:40:34 ******/
CREATE USER [API] FOR LOGIN [API] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Autenticazioni]    Script Date: 07/12/2019 13:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autenticazioni](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMezzo] [nvarchar](50) NOT NULL,
	[Hash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Autenticazioni] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[info]    Script Date: 07/12/2019 13:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Giorno] [nvarchar](50) NULL,
	[Tratta] [nvarchar](50) NULL,
	[IdMezzo] [int] NOT NULL,
 CONSTRAINT [PK__info__3214EC07F5D9D6CC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
