USE [master]
GO
/****** Object:  Database [Routes_Bus]    Script Date: 07/12/2019 14:29:18 ******/
CREATE DATABASE [Routes_Bus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Routes_Bus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Routes_Bus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Routes_Bus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Routes_Bus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Routes_Bus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Routes_Bus]
GO
/****** Object:  User [API]    Script Date: 07/12/2019 14:29:18 ******/
CREATE USER [API] FOR LOGIN [API] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [API]
GO
/****** Object:  Table [dbo].[TrackBus]    Script Date: 07/12/2019 14:29:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackBus](
	[IdMezzo] [varchar](50) NOT NULL,
	[Giorno] [varchar](50) NOT NULL,
	[Percorso_JSON] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TrackBus] PRIMARY KEY CLUSTERED 
(
	[IdMezzo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
