<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataSender.Properties.Settings>
            <setting name="PassMezzo" serializeAs="String">
                <value>7c9f08cfb45277f0a37f98f98825e935246d70a7bd1db247afc94fef89cfbfed</value>
            </setting>
            <setting name="IdMezzo" serializeAs="String">
                <value>3030</value>
            </setting>
        </DataSender.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataSender.Properties.Settings>
            <setting name="ServerPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ApiPath" serializeAs="String">
                <value>/api/busdati</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>127.0.0.10</value>
            </setting>
        </DataSender.Properties.Settings>
    </applicationSettings>
</configuration>