<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataSender.Properties.Settings>
            <setting name="AmsNetID" serializeAs="String">
                <value>192.168.1.236.1.1</value>
            </setting>
            <setting name="AmsNetPort" serializeAs="String">
                <value>851</value>
            </setting>
            <setting name="ExternalAppPath" serializeAs="String">
                <value>EXTERNALAPP.txt</value>
            </setting>
            <setting name="ExternalTimePath" serializeAs="String">
                <value>EXTERNALTIME.txt</value>
            </setting>
            <setting name="NetUser" serializeAs="String">
                <value>pippo</value>
            </setting>
            <setting name="NetPass" serializeAs="String">
                <value>poppo</value>
            </setting>
            <setting name="TokenId" serializeAs="String">
                <value>pippo</value>
            </setting>
            <setting name="TokenPass" serializeAs="String">
                <value>passwordsicura</value>
            </setting>
            <setting name="ExternalValuesPath" serializeAs="String">
                <value>VALUES.txt</value>
            </setting>
            <setting name="Autentication" serializeAs="String">
                <value>False</value>
            </setting>
        </DataSender.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataSender.Properties.Settings>
            <setting name="LocalHost" serializeAs="String">
                <value>127.0.0.2</value>
            </setting>
            <setting name="LocalHostIp" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>192.168.1.23</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ApiPath" serializeAs="String">
                <value>/api/busdati</value>
            </setting>
        </DataSender.Properties.Settings>
    </applicationSettings>
</configuration>